<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="StackManagement.Properties.Settings.StockManagementConnectionString"
		 connectionString="Data Source=DESKTOP-D7H2LP0\SQLExpress;Initial Catalog=StockManagement;Integrated Security=True"
		 providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup useLegacyV2RuntimeActivationPolicy="true">
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>